/* @group Main blocks */

body {
 position: absolute ;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 padding: 0;
 margin: 0;
 background-color: #fff;
/* overflow: hidden ;*/
}

body.sc-theme {
 background-color: #fff;
 font: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.sc-theme.focus .sc-collection-view.focus .sc-collection-item.sel {
 background-color:#777;
}

.workspace {
 position: absolute;
 left: 20px;
 top: 10px;
 right: 20px;
 bottom: 10px;
 background-color: #fff;
}

.workspace .central {
 position: absolute;
 left: 110px;
 top: 70px;
 right: 170px;
 bottom: 60px;
}

.workspace .header {
 position: absolute;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 60px;
}

.workspace .left_pane {
 position: absolute;
 left: 0px;
 top: 70px;
 width: 100px;
 bottom: 60px;
}

.workspace .right_pane {
 position: absolute;
 right: 0px;
 top: 70px;
 width: 160px;
 bottom: 60px;
}

.workspace .footer {
 position: absolute;
 left: 0px;
 bottom: 0px;
 width: 100%;
 height: 50px;
}

/* @end */


/* @group Styles */

.workspace h1 {
 border: none ;
 padding: 0px;
 margin: 0px;
 letter-spacing: -1px;
 font: normal 3.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.workspace h3 {
 margin: 8px 0px;
 padding: 0px;
 font: 1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
 color: #808080;
}

/* @end */


/* @group Special styles */

.metadata_primary {
 font: 1.3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
 font-weight: bold;
 color: #333;
}

.metadata_secondary {
 font: 1.1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
 font-weight: bold;
 color: #777;
}

.toolbox_icon {
	padding: 5px;
}

/* @end */
