<!-- main page template -->
<% content_for('body') do %>

<% view :workspace do %>

	<%= view :central %>

	<%= view :header %>

	<%= view :left_pane %>

	<%= view :right_pane %>

	<%= view :footer %>

<% end %>

<% end %>
<!-- end of main page template -->
