<!-- main page template -->
<% content_for('body') do %>

<% view :workspace do %>

	<%= view :central %>

	<% view :header do %>
		<%= label_view :source_list_label, :tag => 'h1', :value => 'Multivio prototype Druid' %>
	<% end %>

	<%= view :left_pane %>

	<%= view :right_pane %>

	<%= view :footer %>

<% end %>

<% end %>
<!-- end of main page template -->
